# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo

# ===============================
# Virtual Environments
# ===============================
venv/
.env/
.env.*

# ===============================
# Docker
# ===============================
*.log

# ===============================
# OS / Editor Noise
# ===============================
.DS_Store
.vscode/
.idea/
*.swp

# ===============================
# Misc
# ===============================
coverage/
htmlcov/
